:root {
  --background-color: #2196f3;
  --text-color: #ffffff;
  --background-icon: #f5f4fa;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* стили шапки */

.link {
  color: #000000;
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 86px;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.18;
  font-weight: 700;

  display: inline-block;
  padding-top: 48px;
}
.logo-one {
  color: var(--background-color);
}
.logo-two {
  color: var(--text-color);
}

/* Стили героя */

.hero {
  position: relative;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  padding-top: 200px;
  padding-bottom: 0px;

  margin: 0px;
}

.backdrop {
  display: inline-block;
  position: fixed;
  top: 0;
  margin: auto;
  width: 1600px;
  height: 1024px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.form-order {
  position: absolute;
  left: 536px;
  top: 222px;
  justify-content: center;

  display: inline-block;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  margin-top: 0px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  background-color: var(--text-color);
}

.form-window {
  position: relative;
  margin: 0px;
}

.name-order {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
  padding: 0px;
}

.label-order {
  position: absolute;
  top: 70%;
  left: 42px;
  margin: 0px;
  transform: translateY(-50%);
  transition: transform 250ms linear;
}

.input-order:focus + .label-order,
.input-order:not(:placeholder-shown) + .label-order {
  color: var(--background-color);
  transform: translateY(-200%);
  outline: none;
}

.icon-form {
  position: absolute;
  top: 40px;
  left: 19px;

  width: 15px;
  height: 15px;
}

.input-order {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  margin: 0px;
  margin-top: 30px;
  outline: none;
}

.input-order:hover,
.input-order:focus {
  border: 1px solid var(--background-color);
}

.input-order:focus ~ .icon-form {
  fill: var(--background-color);
  transition: fill 250ms linear;
}

.write {
  width: 100%;
}

.checkbox-label {
  display: inline-block;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .icon-check {
  background-color: var(--background-color);
  border-color: transparent;
  background-image: url(../images/V.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.write a {
  color: var(--background-color);
}

.button-x {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0px;
  right: 0px;
  border: 1px;
  border-radius: 50px;
  background-color: var(--text-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transform: translate(30%, -50%);
  background-image: url(../images/X.svg);
  background-position: center;
  background-size: 11px;
  background-repeat: no-repeat;
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

.comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  border-radius: 4px;
  margin: 0px;
  margin-top: 30px;
}
.comment:hover,
.comment:focus {
  border: 1px solid var(--background-color);
}

.comment-text {
  top: 0;
  left: 0;
}

.form-button {
  display: inline-block;
  background: var(--background-color);
  color: var(--text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  border: 0px;
}

.form-button:hover,
.form-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.link-hero {
  background: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  text-align: center;

  display: inline-block;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 46px;
  border: 0px;
}

.link-hero:hover,
.link-hero:focus {
  background-color: var(--text-color);
  color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
/* cтили секций */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item {
  position: relative;
}

.size-item {
  width: calc((100% - 30px * 3) / 4);
}

.item-size {
  width: calc((100% - 30px * 2) / 3);
}

.three {
  position: absolute;
  color: var(--text-color);
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 27px;
  width: 100%;
  bottom: 0;
}

.prioritiets {
  display: flex;
}

.prioritiets .item + .item {
  margin-left: 30px;
}

.name-text {
  text-align: center;
}

.prioritets-list {
  margin-bottom: 94px;
}

.list {
  display: inline-flex;
  width: 206px;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  padding-top: 94px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 50px;
}

.padding-title {
  padding-top: 94px;
}

.title-three {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 0px;
}

.icon {
  margin-top: 94px;
}

.fon {
  background: var(--background-icon);
}

.border {
  border-top: 1px solid #ececec;
}

.backgr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-icon);
  border-radius: 4px;

  height: 120px;
}

.size {
  width: 70px;
  height: 70px;
}

.comanda {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: var(--text-color);
  margin-bottom: 94px;
}

.socset-item {
  margin-bottom: 24px;
  margin-right: 10px;
}

.socset-item:nth-child(4) {
  margin-right: 0px;
}

.socset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socset-icon {
  width: 20px;
  height: 20px;
  align-items: center;
  fill: #afb1b8;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socset:hover .socset-icon,
.socset:focus .socset-icon {
  fill: var(--text-color);
}

.socset:hover,
.socset:focus {
  background-color: var(--background-color);
}

.backgrlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-bottom: 94px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrlogo:hover,
.backgrlogo:focus {
  border: 1px solid #2196f3;
}

.logoone {
  fill: #afb1b8;
  width: 44px;
  height: 49px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrlogo:hover .logoone,
.backgrlogo:focus .logoone {
  fill: #2196f3;
}

.logotwo {
  fill: #afb1b8;
  width: 40px;
  height: 52px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrlogo:hover .logotwo,
.backgrlogo:focus .logotwo {
  fill: #2196f3;
}

.logothree {
  fill: #afb1b8;
  width: 41px;
  height: 42.5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrlogo:hover .logothree,
.backgrlogo:focus .logothree {
  fill: #2196f3;
}

.logofoure {
  fill: #afb1b8;
  width: 79px;
  height: 42px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrlogo:hover .logofoure,
.backgrlogo:focus .logofoure {
  fill: #2196f3;
}

.logofive {
  fill: #afb1b8;
  width: 59px;
  height: 47px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrlogo:hover .logofive,
.backgrlogo:focus .logofive {
  fill: #2196f3;
}

.logosix {
  fill: #afb1b8;
  width: 88px;
  height: 45px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backgrlogo:hover .logosix,
.backgrlogo:focus .logosix {
  fill: #2196f3;
}

.paragraf {
  font-size: 14px;
  line-height: 1.71;

  margin-top: 10px;
  margin-bottom: 0px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
